/* 
manera de escribir css
1. posicionamiento
2. modelo de caja (box model)
3. tipografia (fuentes, tamaños, colores, etc)
4. visual 
5. otros
*/
:root {
    --bitcoin-orange: #F7931A;
    --soft-orange: #ffe9d5;
    --secondary-blue: #1A9AF7;
    --soft-blue: #e7f5ff;
    --warm-black: #201e1c;
    --black: #282623;
    --grey: #bababa;
    --off-white: #FAF8F7;
    --just-white: #fff;
}
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
html {
    font-size: 62.5%;
    font-family: 'DM Sans', sans-serif;
}
header {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 100%;
    min-width: 320px;
    height: 334px;
    text-align: center;
    background: linear-gradient(207.8deg, #201E1C 16.69%, #F7931A 100%);
}
header img {
    width: 150px;
    height: 24px;
    margin-top: 60px;
    align-self: center; /* Esto permite alinear el contenido si el contenedor tiene display flex */
}
.header-title-container {
    width: 90%;
    min-width: 288px;
    max-width: 900px;
    height: 218px;
    margin-top: 40px;
    text-align: center;
    align-self: center;
}
.header-title-container h1 {
    font-size: 2.4rem;
    font-weight: bold;
    line-height: 2.6rem;
    color: var(--just-white);
}
.header-title-container p {
    margin-top: 24px;
    font-size: 1.4rem;
    font-weight: 500;
    line-height: 1.8rem;
    color: var(--soft-orange);
}
.header-title-container .header-button {
    position: absolute; /* permite que el elemento se pueda mover con top, bottom, left y right */
    left: calc(50% - 118px); /* ayuda a generar un calculo, envia el elemento al centro, importante los espacios*/
    top: 270px;
    display: block;
    margin-top: 35px;
    padding: 16px;
    width: 228px;
    height: 48px;
    background-color: var(--off-white);
    /* sombra, estilos visuales */
    box-shadow: 0px 4px 8px rgba(89, 73, 30, 0.16);
    border: none;
    border-radius: 4px;
    font-size: 1.4rem;
    font-weight: bold;
    text-decoration: none;
    color: var(--black);
}
.header-button span {
    display: inline-block;
    width: 12px;
    height: 8px;
    margin-left: 12px;
    background-image: url("../iconos/down-arrow.svg"); /* los dos puntos iniciales de la url permiten salir de una carpeta para ingresar a otra cuando se esta llamando un elemento de esta manera */
}
main {
    width: 100%;
    height: auto;/* esto permite que el contenedor crezca de acuerdo a su contenido */
    background-color: var(--off-white);
}
.main-exchange-container {
    width: 100%;
    height: auto;
    padding-top: 80px;
    padding-bottom: 10px;
    text-align: center;
}
.main-exchange-container .backgroundImg {
    width: 200px;
    height: 200px;
    margin: 0 auto;/* esto hace que el elemento se posicione en el centro */
    margin-bottom: 50px;
    background-image: url("../iconos/Bitcoin.svg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;/* estos backgroud son buenas practicas para la calidad y uso de las imagenes */
}
.main-exchange-container-title {
    width: 90%;
    min-width: 288px;
    max-width: 900px;
    margin: 0 auto;
}
.main-exchange-container-title h2 {
    margin-bottom: 30px;
    font-size: 2.4rem;
    font-weight: bold;
    line-height: 2.6rem;
    color: var(--black);
}
.main-exchange-container-title p {
    margin-bottom: 30px;
    font-size: 1.4rem;
    font-weight: 300;
    line-height: 1.6rem;
    color:  #757575;
}
.main-container--tables-slider {
    display: flex;
    padding: 20px 0;
    height: 320px;
    overflow-x: scroll;
    overscroll-behavior-x: contain;
    scroll-snap-type: x proximity;
}
.main-currency-table {
    width: 70%;
    min-width: 238px;
    max-width: 500px;
    height: 280px;
    margin: 0 45px;
    font-family: "Inter", sans-serif; 
    scroll-snap-align: center;
}
.main-currency-table .currency-table-title {
    text-align: start;
    margin-bottom: 12px;
    margin-left: 20px;
    font-size: 1.8rem;
    font-weight: bold;
    line-height: 2.3rem;
    color: var(--bitcoin-orange);
}
.currency-table-container {
    width: 90%;
    min-width: 230px;
    max-width: 300px;
    height: 172px;
    margin: 0 auto;
}
.currency-table-container table {
    width: 100%;
    height: 100%;
}
.currency-table-container td {
    width: 50%;
    font-size: 1.6rem;
    font-weight: 500;
    line-height: 1.9rem;
    color: var(--grey);
    background-color: var(--just-white);
}
.currency-table-container .table__top-left {
    border-top-left-radius: 12px;/* esto permite modificar la celda donde se quiere generara el redondeado, es necesario entender que se modifica la celda de dato td, no la tabla, ni el tr. */
}
.currency-table-container .table__top-right {
    border-top-right-radius: 12px;
}
.currency-table-container .table__bottom-left {
    border-bottom-left-radius: 12px;
}
.currency-table-container .table__bottom-right {
    border-bottom-right-radius: 12px;
}
.currency-table-container .table__right {
    font-size: 1.4rem;
    font-weight: normal;
    line-height: 1.7rem;
    color: #757575;
}
.currency-table-container .down {
    display: inline-block;
    width: 15px;
    height: 15px;
    margin-left: 10px;
    background-image: url("../iconos/trending-down.svg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}
.currency-table-container .up {
    display: inline-block;
    width: 15px;
    height: 15px;
    margin-left: 10px;
    background-image: url("../iconos/trending-up.svg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}
.currency-table-date {
    width: 190px;
    height: 30px;
    margin: 0 auto;
    margin-top: 15px;
    padding: 8px;
    background-color: var(--soft-orange);
    border-radius: 8px;
}
.currency-table-date p {
    font-size: 1.2rem;
    line-height: 1.5rem;
    font-weight: 300;
    color: var(--warm-black);
}
.main-currency-table .secundary-currency-table-title {
    text-align: start;
    margin-bottom: 12px;
    margin-left: 20px;
    font-size: 1.8rem;
    font-weight: bold;
    line-height: 2.3rem;
    color: var(--secondary-blue);
}
.secundary-currency-table-date {
    width: 190px;
    height: 30px;
    margin: 0 auto;
    margin-top: 15px;
    padding: 8px;
    background-color: var(--soft-blue);
    border-radius: 8px;
}
.secundary-currency-table-date p {
    font-size: 1.2rem;
    line-height: 1.5rem;
    font-weight: 300;
    color: var(--warm-black);
}
.main-product-detail {
    position: relative;/* Es necesario establecer al contenedor padre como relative para luego jugar con el posicion absolut. de lo contrario el posicion absolut buscará jugar con el contenedor padre que si tenga un relativ. */
    width: 100%;
    min-width: 320px;
    height: auto;
    padding: 20px 10px;
    background-color: var(--warm-black);
}
.main-product--logo {
    position: absolute;
    width: 40px;
    height: 25px;
    top: -10px;
    left: calc(50% - 20px);/* si no ponemos el -20, el logo quedaría en la mitad desde su inicio, -20 por que tiene un width de 40 px, -20 sería su mitad, así se asegura que la mitad del logo quede en la mitad del contenedor. */
    background-image: url("../iconos/logo.svg");
}
.product-detail--title {
    width: 90%;
    min-width: 288px;
    height: auto;
    margin: 0 auto;
    margin-top: 50px;
    text-align: center;
}
.product-detail--title h2 {
    margin-bottom: 20px;
    font-size: 2.4rem;
    font-weight: bold;
    line-height: 2.6rem;
    color: var(--just-white);
}
.product-detail--title p {
    margin-bottom: 20px;
    font-size: 1.4rem;
    font-weight: 500;
    line-height: 1.8rem;
    color: #808080;
}
.product-detail--cards {
    width: 90%;
    min-width: 288px;
    max-width: 400px;
    height: 150px;
    margin: 15px auto;
    padding: 15px;
    background-color: var(--black);
    border-radius: 4px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.16);
}
.product-detail--cards .clock, .product-detail--cards .eye, .product-detail--cards .casch, .product-detail--cards .check {
    display: block;
    width: 20px;
    height: 20px;
    margin-bottom: 10px;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}
.product--card-title {
    margin-bottom: 15px;
    font-size: 1.8rem;
    font-weight: bold;
    line-height: 1.8rem;
    color: var(--just-white);
}
.product--card-body {
    margin-bottom: 15px;
    font-size: 1.4rem;
    font-weight: 500;
    line-height: 1.8rem;
    color: #808080;
}
.product-detail--cards .clock {
    background-image: url("../iconos/icono_reloj.svg");
}
.product-detail--cards .eye {
    background-image: url("../iconos/icono_ojo.svg");
}
.product-detail--cards .casch {
    background-image: url("../iconos/dollar-sign.svg");
}
.product-detail--cards .check {
    background-image: url("../iconos/check-circle.svg");
}
.bitcoin-img-container {
    width: 100%;
    min-width: 320px;
    height: 50vh;
    background-image: url("../imagenes/bitcoinbaby.jpeg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    text-align: center;
}
.bitcoin-img-container h2 {
    padding-top: 60px;
    font-size: 2.4rem;
    font-weight: bold;
    line-height: 2.6rem;
    color: var(--just-white);
}
.main-plans-container {
    width: 100%;
    min-width: 320px;
    padding-bottom: 50px;
    text-align: center;
}
.plans-tiitle {
    width: 90%;
    min-width: 288px;
    height: auto;
    margin: 0 auto;
}
.plans-tiitle h2 {
    padding-top: 50px;
    font-size: 2.4rem;
    font-weight: bold;
    line-height: 2.6rem;
    color: var(--black);
}
.plans-tiitle p {
    padding-top: 30px;
    font-size: 1.4rem;
    font-weight: 500;
    line-height: 1.8rem;
    color: #757575;
}
.plans-container--slider {/* esro permite general el scroll horizontal */
    display: flex;
    height: 316px;
    overflow-x: scroll;
    overscroll-behavior-x: contain;/*  ver que pasa si lo hacemos en el plano y */
    scroll-snap-type: x proximity;
}
.plans-container--cards {
    position: relative;
    scroll-snap-align: center;/* no olvidar tener en cuenta esto que va ligado con el código de .plans-container--slider */
    width: 70%;
    min-width: 190px;
    max-width: 300px;
    height: 250px;
    margin: 50px 8px 0;/* arriba 50px, derecha e izquierda 12px, abajo 0 */
    padding: 0 15px;
    background-color: var(--just-white);
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(89, 73, 30, 0.16);
}
.recomendado {/* a la etiqueta p se le pueden dar estilos como a un contenedor, por ende no es necesario usar una etiqueta contenedora como div */
    position: absolute;
    width: 108px;
    height: 30px;
    left: calc(50% - 60px);
    top: -15px;
    font-size: 1.2rem;
    font-weight: bold;
    font-family: "Inter", sans-serif;
    padding: 8px;
    background-color: var(--bitcoin-orange);
    border-radius: 8px;
    color: var(--just-white);
}
.plan-card--title {
    padding-top: 30px;
    font-size: 1.4rem;
    font-weight: 500;
    line-height: 1.8rem;
    color: black;
}
.plan-card--price {
    padding: 5px 0;
    font-size: 5.2rem;
    font-weight: bold;
    color: black;
}
.plan-card--price span {
    position: absolute;
    top: 60px;
    left: 55px;
    font-size: 1.2rem;
    font-weight: 300;
    color: black;
}
.plan-card-saving {
    font-size: 1.2rem;
    color: #757575;
}
.plan-card--ca {
    width: 150px;
    height: 48px;
    margin-top: 20px;
    background-color: var(--off-white);
    border: 2px solid var(--bitcoin-orange);
    border-radius: 4px;
    font-size: 1.4rem;
    font-weight: bold;
    line-height: 1.8rem;
    color: black;
    font-family: 'DM Sans', sans-serif;
}
.plan-card--ca span {
    display: inline-block;
    width: 20px;
    height: 20px;
    background-image: url("../iconos/arrow-right.svg");
    vertical-align: text-bottom;
    margin-left: 12px;
}
footer {
    display: flex;
    width: 100%;
    height: 150px;
    background-color: var(--bitcoin-orange);
    padding: 0 30px;
}
footer section {
    width: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}
footer .left ul {
    font-size: 1.4rem;
    font-weight: 500;
    line-height: 1.8rem;
    list-style: none;
}
.left li {
    margin: 10px 0;
}
.left a {
    text-decoration: none;
    color: var(--just-white);
}
.right img {
    width: 100px;
    height: 100px;
}